@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .print\:hidden {
    display: none !important;
  }
  .print\:bg-white {
    background-color: white !important;
  }
  .print\:shadow-none {
    box-shadow: none !important;
  }
  .print\:p-0 {
    padding: 0 !important;
  }
  .print\:w-full {
    width: 100% !important;
  }
  .print\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}